img {
  width: 100%;
  display: block;
  height: auto;
}

.buttons {
  @media screen and(max-width:1279px) {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 145px;
  }
  @media screen and(min-width:1280px) {
    font-size: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
    max-width: 158px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--body-bg);
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.body-pics {
  background-image: url('../images/body/mobile/bg-head-1x.png'),
    url('../images/body/mobile/bg-bottom-1x.png');
    background-repeat: no-repeat;
    background-position: top, 50% 90%;
  background-size: 100% 460px, 100% 1214px;

  @media (min-device-pixel-ratio: 2) and (max-width: 767px),
    (min-resolution: 192dpi) and (max-width: 767px),
    (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url('../images/body/mobile/bg-head-@2x.png'),
      url('../images/body/mobile/bg-bottom-@2x.png');
      background-position: top, 50% 90%;
    background-size: 100% 460px, 100% 1214px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url('../images/body/tablet/bg-head-1x.png'),
      url('../images/body/tablet/bg-bottom-1x.png');
    background-position: top, 50% 95%;
    background-size: 100% 622px, 100% 1260px;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px),
    (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
    (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px) {
    background-image: url('../images/body/tablet/bg-head-@2x.png'),
      url('../images/body/tablet/bg-bottom-@2x.png');
    background-position: top, 50% 88%;
    background-size: 100% 622px, 100% 1260px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/body/desktop/bg-head-1x.png'),
      url('../images/body/desktop/bg-bottom-1x.png');
      background-position: top, bottom;
    background-size: 100% 1036px, 100% 1600px;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 1280px),
    (min-resolution: 192dpi) and (min-width: 1280px),
    (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: url('../images/body/desktop/bg-head-@2x.png'),
      url('../images/body/desktop/bg-bottom-@2x.png');
    background-position: top, bottom;
    background-size: 100% 1036px, 100% 1600px;
  }
}
