@import './utils/variables';

@import './base/common';
@import './base/container';

@import './components/buttons';
@import './components/titles';

@import './layout/about-us';
@import './layout/contacts';
@import './layout/footer';
@import './layout/header';
@import './layout/menu';
@import './layout/program';
@import './layout/registration';
@import './layout/reviews';
@import './layout/pseudo-hero';
