<footer class="container footer">

<ul class="list footer-social-icons">
  <li class="footer-social-icons-li">
    <svg class="icons-social-links" width="19" height="15">
      <use href="./images/sprite.svg#twitter"></use>
    </svg>
  </li>
  <li class="footer-social-icons-li">
    <svg class="icons-social-links" width="15" height="15">
      <use href="./images/sprite.svg#instagramm"></use>
    </svg>
  </li>
  <li class="footer-social-icons-li">
    <svg class="icons-social-links" width="8" height="15">
      <use href="./images/sprite.svg#facebook"></use>
    </svg>
  </li>
</ul>



    <ul class="list footer-addres" >
        <li>
            <a class="link footer-addres-links" href="tel:+380961111111">
                <svg class="footer-icons-contacts">
                    <use href="./images/sprite.svg#phone"></use>
                </svg>
                (910)222-8855
              </a>
        </li>
        <li>
            <a class="link footer-addres-links" href="geo:1">
                <svg class="footer-icons-contacts">
                    <use href="./images/sprite.svg#location"></use>
                </svg>
                New York
              </a>
        </li>
    </ul>

    <picture class="footer-pic-flour">
      <source
        srcset="
        ./images/FLOUR/DESCTOP/footer-flour1x.png 1x,
        ./images/FLOUR/DESCTOP/footer-flour@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
        ./images/FLOUR/TABLET/footer-flour1x.png 1x,
        ./images/FLOUR/TABLET/footer-flour@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="review-image"
        srcset="
        ./images/FLOUR/MOBILE/footer-flour1x.png 1x,
        ./images/FLOUR/MOBILE/footer-flour@2x.png 2x
        "
        src="./images/FLOUR/MOBILE/footer-flour1x.png"
        alt="John"
      />
    </picture>

</footer>