<footer class="container">

    <div class="footer-social-icons">
        <svg class="icons-social-links">
            <use href="./images/sprite.svg#twitter"></use>
          </svg>
          <svg class="icons-social-links">
            <use href="./images/sprite.svg#instagramm"></use>
          </svg>
          <svg class="icons-social-links">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
    </div>

    <ul>
        <li>
            <a class="contacts-top" href="tel:+380961111111">
                <svg class="icons-contacts">
                    <use href="./images/sprite.svg#phone"></use>
                </svg>
                (910)222-8855
              </a>
        </li>
        <li>
            <a class="contacts-top" href="geo:1">
                <svg class="icons-contacts">
                    <use href="./images/sprite.svg#location"></use>
                </svg>
                New York
              </a>
        </li>
    </ul>



</footer>