<footer class="footer id="footer">
  <div class="container contain-for-footer">
    <ul class="list footer-social-icons wow fadeInDown">
      <li class="footer-social-icons-li">
        <a class="footer-icons-forhover" href="">
          <svg class="icons-social-links icon-twitter">
            <use href="./images/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-icons-li">
        <a class="footer-icons-forhover" href="">
          <svg class="icons-social-links icon-instagram">
            <use href="./images/sprite.svg#instagramm"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-icons-li">
        <a class="footer-icons-forhover" href="">
          <svg class="icons-social-links icon-facebook">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <ul class="list footer-addres">
      <li class="wow fadeInLeft">
        <a class="link footer-addres-links" href="tel:+380961111111">
          <svg class="footer-icons-contacts">
            <use href="./images/sprite.svg#phone"></use>
          </svg>
          (910)222-8855
        </a>
      </li>
      <li class="wow fadeInRight">
        <a class="link footer-addres-links" href="geo:1">
          <svg class="footer-icons-contacts">
            <use href="./images/sprite.svg#location"></use>
          </svg>
          New York
        </a>
      </li>
    </ul>
  </div>
</footer>
