<header class="header-section" id="header-section">
  <div class="header-container container">
    <div class="header-flex">
      <nav class="header-nav">
        <a class="link header-logo-link" href=""
          ><svg class="header-logo">
            <use href="./images/sprite.svg#icon-logo" /></svg>
        </a>
        <ul class="header-nav-list list">
          <li class="nav-item close"><a href="#about-section" class="link nav-link">About us</a></li>
          <li class="nav-item close"><a href="#program-section" class="link nav-link">Program</a></li>
          <li class="nav-item close"><a href="#review-section" class="link nav-link">Reviews</a></li>
          <li class="nav-item close"><a href="#contact-section" class="link nav-link">Contacts</a></li>
        </ul>
      </nav>
      <button class="menu-btn" type="button" data-menu-open>
        <svg class="menu-icon-btn">
          <use href="./images/sprite.svg#menu" />
        </svg>
      </button>
    </div>



    <div class="mobile-menu" data-menu>
      <button class="menu-btn close-btn" type="button" data-menu-close>
        <svg class="menu-icon-btn">
          <use href="./images/sprite.svg#icon-close" />
        </svg>
      </button>
      <nav>
        <a class="mob-menu-logo-link link" href=""
          ><svg class="mob-menu-logo">
            <use href="./images/sprite.svg#icon-logo" /></svg>
        </a>
        <ul class="mobile-menu-list list">
          <li class="mobile-menu-item">
            <a href="#about-section" class="mobile-menu-link link" data-item>About us</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#program-section" class="mobile-menu-link link" data-item>Program</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#review-section" class="mobile-menu-link link" data-item>Reviews</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#contact-section" class="mobile-menu-link link" data-item>Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="headline-items">
      <h1 class="headline">Donut Masterclass with the Donut King</h1>
      <p class="head-sub">Hosted by Eva Green</p>
      <a class="buttons reg-btn" href="#registration-section" type="button">Register</a>
      <ul class="soc-link-list list">
        <li class="soc-item">
          <a href="" class="soc-link">
            <svg class="soc-icon twitter"><use href="./images/sprite.svg#twitter" /></svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="" class="soc-link">
            <svg class="soc-icon instagram"><use href="./images/sprite.svg#instagramm" /></svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="" class="soc-link">
            <svg class="soc-icon facebook"><use href="./images/sprite.svg#facebook" /></svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- <script>
    jQuery('.mobile-menu-item a').on('click', function () {
            jQuery('.close-btn').click()
        });
</script> -->