<header class="header-section">
    <div class="header-container container">
    <nav><a href="" class="header-logo-link"><picture>
        <source srcset=""/><img src="" alt=""><source srcset=""/><img src="" alt=""><source srcset=""/><img src="" alt=""></picture></a>
    <div><ul class="header-nav-list">
        <li class="nav-item"><a href="" class="nav-link">About us</a></li>
        <li class="nav-item"><a href="" class="nav-link">Program</a></li>
        <li class="nav-item"><a href="" class="nav-link">Reviews</a></li>
        <li class="nav-item"><a href="" class="nav-link">Contacts</a></li>
     </ul>
    </div><button class="menu-btn">
        <svg>
            <use src="./images/sprite.svg#menu"/>
        </svg></button></div>
    <div class="mobile-menu">
        <button class="menu-btn">
    <svg>
        <use src="./images/sprite.svg#icon-close" />
    </svg></button>
    <picture><source srcset=""/><img src="" alt=""></picture>
    <ul class="mobile-menu-list">
                <li class="mobile-menu-item"><a href="" class="mobile-menu-link">About us</a></li>
                <li class="mobile-menu-item"><a href="" class="mobile-menu-link">Program</a></li>
                <li class="mobile-menu-item"><a href="" class="mobile-menu-link">Reviews</a></li>
                <li class="mobile-menu-item"><a href="" class="mobile-menu-link">Contacts</a></li>
            </ul></div></nav>
</header>