<section class="program">
  <div class="program-section container">
  <div class="program-text-section">
    <h2 class="titles program-title">Program</h2>

    <div class="program-text">
      <p class="program-first-text">
        Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
        donut shop!
      </p>

      <ul class="program-list list">
        <li class="program-item">A stand up history of donuts</li>
        <li class="program-item">Make 3 donut flavors of your choice</li>
        <li class="program-item">Enjoy all-you-can-eat donuts</li>
        <li class="program-item">Cocktail pairings and coffee included</li>
        <li class="program-item">Photoshoot by professional photographer</li>
        <li class="program-item">Secret receipt of cooking from Eva</li>
        <li class="program-item">All products are included in the price</li>
      </ul>

      <span class="more-text-program">
        Come with your dear people and friends and you will spend an unforgettable time and will
        become a real professional in donuts cooking!
      </span>
    </div>
    <button class="program-read-more-btn">Read more</button>
  </div>

  <ul class="program-donuts-list list">
    <li class="program-donuts-item">
      <picture>
        <source
          srcset="
            ./images/program/program-desctop/don-1-1x.png 1x,
            ./images/program/program-desctop/don-1-1x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/program/program-tablet/don-1-1x.png 1x,
            ./images/program/program-tablet/don-1-1x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="donut-image"
          srcset="
            ./images/program/program-mobile/don-1-1x.png  1x,
            ./images/program/program-mobile/don-1-@2x.png 2x
          "
          src="./images/program/program-mobile/don-1-1x.png"
          alt=""
        />
      </picture>
      <h2 class="program-donuts-title">Type of the event</h2>
      <p class="program-donuts-text">Cooking classes</p>
      <svg class="donut-icon" height="20" width="20">
        <use href="./images/sprite.svg#chef-hat"></use>
      </svg>
    </li>
    <li class="program-donuts-item">
      <picture>
        <source
          srcset="
            ./images/program/program-desctop/don-2-1x.png 1x,
            ./images/program/program-desctop/don-2-1x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/program/program-tablet/don-2-1x.png 1x,
            ./images/program/program-tablet/don-2-1x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="donut-image"
          srcset="
            ./images/program/program-mobile/don-2-1x.png  1x,
            ./images/program/program-mobile/don-2-@2x.png 2x
          "
          src="./images/program/program-mobile/don-2-1x.png"
          alt=""
        />
      </picture>
      <h2 class="program-donuts-title">Number of guests</h2>
      <p class="program-donuts-text">1 to 20</p>
      <svg class="donut-icon" height="20" width="20">
        <use href="./images/sprite.svg#people"></use>
      </svg>
    </li>
    <li class="program-donuts-item">
      <picture>
        <source
          srcset="
            ./images/program/program-desctop/don-3-1x.png 1x,
            ./images/program/program-desctop/don-3-1x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/program/program-tablet/don-3-1x.png 1x,
            ./images/program/program-tablet/don-3-1x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="donut-image"
          srcset="
            ./images/program/program-mobile/don-3-1x.png  1x,
            ./images/program/program-mobile/don-3-@2x.png 2x
          "
          src="./images/program/program-mobile/don-3-1x.png"
          alt=""
        />
      </picture>
      <h2 class="program-donuts-title">Time of the event</h2>
      <p class="program-donuts-text">18:30 (2.5 hours)</p>
      <svg class="donut-icon" height="20" width="20">
        <use href="./images/sprite.svg#clock"></use>
      </svg>
    </li>
    <li class="program-donuts-item">
      <picture>
        <source
          srcset="
            ./images/program/program-desctop/don-4-1x.png 1x,
            ./images/program/program-desctop/don-4-1x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/program/program-tablet/don-4-1x.png 1x,
            ./images/program/program-tablet/don-4-1x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="donut-image"
          srcset="
            ./images/program/program-mobile/don-4-1x.png  1x,
            ./images/program/program-mobile/don-4-@2x.png 2x
          "
          src="./images/program/program-mobile/don-4-1x.png"
          alt=""
        />
      </picture>
      <h2 class="program-donuts-title">The host speaks</h2>
      <p class="program-donuts-text">English, French</p>
      <svg class="donut-icon" height="20" width="20">
        <use href="./images/sprite.svg#chat"></use>
      </svg>
    </li>
  </ul>
</div>

</section>