<!-- REVIEWS -->
<section class="review-section">
  <div class="container">
    <h2 class="review-title titles">Reviews</h2>
    <ul class="review-list list">
      <li class="review-item">
        <article class="review-article">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop-reviews/john1x.jpg  1x,
                ./images/reviews/desktop-reviews/john@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet-reviews/john1x.jpg  1x,
                ./images/reviews/tablet-reviews/john@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="review-image"
              srcset="
                ./images/reviews/mobile-reviews/will1x.jpg  1x,
                ./images/reviews/mobile-reviews/will@2x.jpg 2x
              "
              src="./images/reviews/mobile-reviews/will1x.jpg"
              alt="John"
            />
          </picture>

          <ul class="review-point list">
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>

          <h3 class="review-name">John</h3>
          <p class="review-text">
            Last time I have visited a cooking course by Eva I was impressed with the way she
            explained everything to people. You can be sure you will manage to cook a delicious dish
            even if it is your first time in the kitchen! Thank you so much for the masterclass!
            Looking forward to the next one and highly recommend it to everyone!
          </p>
          <!-- <div class="review-number">1/15</div> -->
        </article>
      </li>
      <li class="review-item">
        <article class="review-article">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop-reviews/will1x.jpg  1x,
                ./images/reviews/desktop-reviews/will@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet-reviews/will1x.jpg  1x,
                ./images/reviews/tablet-reviews/will@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="review-image"
              srcset="
                ./images/reviews/mobile-reviews/will1x.jpg  1x,
                ./images/reviews/mobile-reviews/will@2x.jpg 2x
              "
              src="./images/reviews/mobile-reviews/will1x.jpg"
              alt="John"
            />
          </picture>

          <ul class="review-point list">
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>

          <h3 class="review-name">Will</h3>
          <p class="review-text">
            Last time I have visited a cooking course by Eva I was impressed with the way she
            explained everything to people. You can be sure you will manage to cook a delicious dish
            even if it is your first time in the kitchen! Thank you so much for the masterclass!
            Looking forward to the next one and highly recommend it to everyone!
          </p>
          <!-- <div class="review-number">2/15</div> -->
        </article>
      </li>
      <li class="review-item">
        <article class="review-article">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop-reviews/elisabeth1x.jpg  1x,
                ./images/reviews/desktop-reviews/elisabeth@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet-reviews/elisabeth1x.jpg  1x,
                ./images/reviews/tablet-reviews/elisabeth@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="review-image"
              srcset="
                ./images/reviews/mobile-reviews/will1x.jpg  1x,
                ./images/reviews/mobile-reviews/will@2x.jpg 2x
              "
              src="./images/reviews/mobile-reviews/will1x.jpg"
              alt="John"
            />
          </picture>

          <ul class="review-point list">
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
            <li class="review-point-item">
              <svg class="review-svg" width="24" height="24">
                <use href="./images/sprite.svg#star"></use>
              </svg>
            </li>
          </ul>

          <h3 class="review-name">Elisabeth</h3>
          <p class="review-text">
            Last time I have visited a cooking course by Eva I was impressed with the way she
            explained everything to people. You can be sure you will manage to cook a delicious dish
            even if it is your first time in the kitchen! Thank you so much for the masterclass!
            Looking forward to the next one and highly recommend it to everyone!
          </p>
          <!-- <div class="review-number">3/15</div> -->
        </article>
      </li>
    </ul>
  </div>
</section>
