.buttons {
  width: 158px;
  background: var(--buttons-star-dec);
  border-radius: 25px;
  text-align: center;
  color: #ffffff;
  font-family: var(--second-font-family), cursive;
  border: none;
  padding: 12px 0px 12px 0px;
}
