.buttons {
  width: 158px;
  background: var(--buttons-star-dec);
  border-radius: 25px;
  text-align: center;
  color: #ffffff;
  font-family: var(--second-font-family), cursive;
  border: none;
  padding: 12px 0px 12px 0px;
  cursor: pointer;

  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    background-color: #876655;
  }
}
