@media screen and (min-width: 768px) {
  .contact-input {
    width: 410px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-input {
    width: 430px;
  }
}

.contact-section {
  padding-top: 13px;
  padding-bottom: 23px;

  @media screen and (min-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 36px;
    padding-bottom: 41px;
  }
}


.contact-title {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 22px;

  text-align: center;

  color: #2e2520;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}
.contact-button {
  margin-top: 37px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text:nth-child(1) {
  margin-bottom: 25px;
}
