.footer {
  position: relative;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 108px;
  }
  @media screen and (min-width: 1280px) {
    height: 96px;
  }
}

.contain-for-footer {
  display: flex;
  flex-direction: column;
  height: 108px;
  justify-content: space-between;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 20px;
    height: 96px;
  }
}

.icon-twitter {
  width: 19px;
  height: 15px;
  @media screen and (min-width: 1280px) {
    width: 24px;
    height: 19px;
  }
}

.icon-instagram {
  width: 15px;
  height: 15px;
  @media screen and (min-width: 1280px) {
    width: 19px;
    height: 19px;
  }
}

.icon-facebook {
  width: 9px;
  height: 15px;
  @media screen and (min-width: 1280px) {
    width: 10px;
    height: 19px;
  }
}

.footer-social-icons {
  display: flex;
  justify-content: center;
}

.icons-contacts {
  display: flex;
}

.icons-social-links {
  fill: var(--text-icons);
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-contacts {
  height: 13px;
  width: 13px;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-li {
  margin-right: 9px;
  &:last-child {
    margin-right: 0px;
  }
}

.footer-addres {
  display: flex;
  justify-content: space-between;
}

.footer-addres-links {
  color: var(--text-icons);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  &:hover .footer-icons-contacts,
  &:focus .footer-icons-contacts,
  &:active .footer-icons-contacts {
    color: var(--hover);
    fill: var(--hover);
  }
}

.footer-pic-flour {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.footer-icons-forhover {
  &:hover .icons-social-links,
  &:active .icons-social-links,
  &:focus .icons-social-links {
    fill: var(--hover);
  }
}
