.footer {
  position: relative;
  padding-top: 23px;
  padding-bottom: 19px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 25px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 41px;
  }
}

.contain-for-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 86px;
  }
  @media screen and (min-width: 1280px) {
    height: 74px;
  }
}

.icon-twitter {
  width: 19px;
  height: 15px;
  @media screen and (min-width: 1280px) {
    width: 24px;
    height: 19px;
  }
}

.icon-instagram {
  width: 15px;
  height: 15px;
  @media screen and (min-width: 1280px) {
    width: 19px;
    height: 19px;
  }
}

.icon-facebook {
  width: 9px;
  height: 15px;
  @media screen and (min-width: 1280px) {
    width: 10px;
    height: 19px;
  }
}

.footer-social-icons {
  display: flex;
  justify-content: center;
}

.icons-contacts {
  display: flex;
}

.icons-social-links {
  fill: var(--text-icons);
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-contacts {
  height: 13px;
  width: 13px;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-li {
  margin-right: 9px;
  &:last-child {
    margin-right: 0px;
  }
}

.footer-addres {
  display: flex;
  justify-content: space-between;
}

.footer-addres-links {
  color: var(--text-icons);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  &:hover .footer-icons-contacts,
  &:focus .footer-icons-contacts,
  &:active .footer-icons-contacts {
    color: var(--hover);
    fill: var(--hover);
  }
}

.footer-pic-flour {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.footer-icons-forhover {
  &:hover .icons-social-links,
  &:active .icons-social-links,
  &:focus .icons-social-links {
    fill: var(--hover);
  }
}




// .footer {
//   background-image: url('../images/FLOUR/DESCTOP/footer-flour1x.png');
//   background-position: 118% 383%;
//   background-size: 15% 15%;
//   background-repeat: no-repeat;

//   @media (min-device-pixel-ratio: 2) and (max-width: 767px),
//     (min-resolution: 192dpi) and (max-width: 767px),
//     (min-resolution: 2dppx) and (max-width: 767px) {
//       background-image: url('../images/FLOUR/DESCTOP/footer-flour@2x.png');
//       background-position: 118% 383%;
//       background-size: 15% 15%;
//       background-repeat: no-repeat;
//   }

//   @media screen and (min-width: 768px) and (max-width: 1279px) {
//     background-image: url('../images/body/tablet/head-donuts1x.png');
//     background-position: -118% -383%;
//     background-size: 378px 396px;
//     background-repeat: no-repeat;
//   }

//   @media (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px),
//     (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
//     (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px) {
//     background-image: url('../images/body/tablet/head-donuts@2x.png');
//     background-position: 75% 100%;
//     background-size: 378px 396px;
//     background-repeat: no-repeat;
//   }

//   @media screen and (min-width: 1280px) {
//     background-image: url('../images/body/desktop/pic-donuts-1x.png'), url('../images/body/desktop/spoon-1x.png');
//     background-position: 126% 93%, -5% 120%;
//     background-size: 793px 780px, 220px 420px;
//     background-repeat: no-repeat;
//   }

//   @media (min-device-pixel-ratio: 2) and (min-width: 1280px),
//     (min-resolution: 192dpi) and (min-width: 1280px),
//     (min-resolution: 2dppx) and (min-width: 1280px) {
//     background-image: url('../images/body/desktop/pic-donuts-@2x.png');
//     background-position: 126% 93%, -5% 120%;
//     background-size: 793px 780px, 220px 420px;
//     background-repeat: no-repeat;

//   }
// }