.link {
  color: var(--text-icons);

  &:hover,
  &:focus {
    color: var(--buttons-star-dec);
  }
}
.header-container {
  position: relative;
  padding-top: 7px;
  @media screen and(min-width:768px) {
    padding-top: 27px;
  }
  @media screen and(min-width:1280px) {
    padding-top: 31px;
  }
}
.header-nav {
  display: flex;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 1280px) {
    // margin-left: 158px;
  }
}

.header-flex {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    margin-left: auto;
    justify-content: flex-end;
  }
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.header-nav-list {
  align-items: center;
  @media screen and(max-width:1279px) {
    display: none;
  }
  @media screen and(min-width:1280px) {
    display: flex;
  }
}
.nav-item {
  &:not(:last-child) {
    @media screen and (min-width: 1179px) {
      margin-right: 20px;
    }
  }
}
.nav-link {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-icons);

  &:hover,
  &:focus {
    color: var(--buttons-star-dec);
  }
  @media screen and(min-width:1280px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

// .header-logo-link {
//   margin-top: 7px;
//   @media screen and(min-width:768px) {
//     margin-top: 27px;
//   }
//   // @media screen and(min-width:1280px) {
//   //   margin-top: 31px;
//   // }
// }
.header-logo {
  fill: currentColor;
  width: 96px;
  height: 43px;

  @media screen and(max-width:767px) {
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and(min-width:1280px) {
    width: 158px;
    height: 71px;
    margin-right: 38px;
  }
}

.mob-menu-logo-link {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 40px;
}
.mob-menu-logo {
  width: 190px;
  height: 85px;
  fill: currentColor;
}
.menu-btn {
  display: inline-flex;
  width: 30px;
  height: 16px;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  @media screen and(min-width:768px) {
    top: 26px;
    // right: 0;
  }

  @media screen and(min-width:1280px) {
    display: none;
  }
  &:hover .menu-icon-btn,
  &:focus .menu-icon-btn {
    fill: var(--buttons-star-dec);
  }
}

.menu-icon-btn {
  fill: var(--text-icons);
  width: 30px;
  height: 16px;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  max-height: 796px;
  overflow-y: scroll;
  transform: translateY(-100%);
  z-index: 100;
  transition: transform 500ms linear;
  background: rgba(254, 243, 228, 0.9);
  backdrop-filter: blur(4px);

  @media screen and(min-width:1280px) {
    display: none;
  }
}
.mobile-menu.is-open {
  transform: translateY(0%);
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 45px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}
.mobile-menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;

  color: var(--text-icons);

  &:hover,
  &:focus {
    color: var(--buttons-star-dec);
  }
}
.close-btn {
  position: absolute;
  padding: 0;

  @media screen and(max-width:767px) {
    top: 20px;
    right: 21px;
  }
  @media screen and(min-width:768px) {
    top: 25px;
    right: 67px;
  }
}
