.headline-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;

  @media screen and(min-width:1280px) {
    align-items: flex-start;
  }
}
.headline {
  font-family: var(--second-font-family);
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: 400;
  color: var(--text-icons);

  @media screen and(max-width:767px) {
    font-size: 30px;
    line-height: 1.26;
    width: 224px;
    margin-top: 33px;
    margin-bottom: 3px;
  }
  @media screen and(min-width:768px) {
    font-size: 30px;
    line-height: 1.26;
    width: 224px;
    margin-top: 10px;
    margin-bottom: 3px;
  }
  @media screen and(min-width:1280px) {
    font-size: 64px;
    line-height: 1.02;
    width: 490px;
    margin-top: 57px;
    margin-bottom: 15px;
  }
}
