.review-section {
  padding: 30px 15px;
}

.review-title {
  margin-bottom: 12px;
  line-height: 1.2;
}

.review-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  max-width: 110px;
  border-radius: 50% 50%;
}

.review-point {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.review-point-item:not(:first-child) {
  margin-left: 4px;
}

.review-svg {
  fill: #ab816c;
}

.review-name {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  text-align: center;

  color: var(--text-icons);
  // line-height: 65px;
}

.review-text {
  margin-bottom: 30px;
  font-size: 16px;
  text-align: center;

  color: var(--text-icons);
  // line-height: 20px;
}

// .review-number {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   text-align: center;

//   color: #ab816c;
//   // line-height: 17px;

//   &::before,
//   &::after {
//     content: '';
//     width: 35px;
//     height: 1px;
//     background-color: #ab816c;
//   }

//   &::before {
//     margin-right: 12px;
//   }

//   &::after {
//     margin-left: 12px;
//   }
// }
